<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>

  <exceptionless apiKey="zEBEScF1seWLYkuYsV73ZRBG7cnyE9VWnMFSJ42Y" />
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <appSettings>
    <!--Memecached服务器地址ip:端口多个用逗号分隔-->
    <add key="MemCacheServers" value="127.0.0.1:11211" />
    <!--能力接口AppCodde-->
    <add key="AppCode" value="JFSC" />
    <!--能力接口key-->
    <add key="Key" value="*^gf54" />
    <!--YJF能力接口测试地址-->
    <add key="YjfApiBaseUrl" value="http://116.228.50.38:8091/api/" />
  </appSettings>
  <system.webServer>
    <modules>
      <add name="ExceptionlessModule" type="Exceptionless.Web.ExceptionlessModule, Exceptionless.Web" />
    </modules>
  </system.webServer>
</configuration>